i.icon {
    font-size: 2em;
}

.container.main {
    margin-top: 7em;
}

#delete {
    margin-bottom: 4em;
}

#readMoreIcon {
    float: right;
    margin-left: 0px;
    margin-bottom: -8px;
    font-size: 1.3em;
}